# Maven
./test
./target
target/classes/
target/test-classes/
target/surefire-reports/
target/*.jar

# IDE
.settings/
.classpath
.project
.DS_Store
pom.xml
.github

# notes / description
DESCRIPTOR.md
*.md
*.log